.container {
    height: 85%;
    background-color: #3f3f3f;;
}

mat-sidenav     {
    background-color: #696969;
}

mat-nav-list {
    color: antiquewhite
}

i {
    padding-right: 0.6rem;
    color: antiquewhite;
}